html, body {
    margin: 0; padding: 0; background: rgb(30, 5, 5);
}

header {
    background: linear-gradient(45deg, rgb(10,0,0), rgb(20, 0, 0));
    width: 80%;
    margin: 1em auto;
    border-radius: 2em;
    padding: .5em 4em;
    color: white;
}

#logo-div {
    width: 30%;
}
#header-menu {
    width: 65%;
    text-align: right;
}

#logo-div, #header-menu, header ul, header li, header a {
    display: inline-block;
    vertical-align: super;
}

#logo {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    font-size: 4em;
    display: inline-block;
}

#logo-div img {
    height: 3em;
}

header li {margin: 0 .25em;}

.button {
    font-family: sans-serif;
    padding: .5em;
    background: rgb(80,5,5);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;  
    -webkit-transition: background-color .15s ease-in-out; 
    -moz-transition: background-color .15s ease-in-out; 
    -o-transition: background-color .15s ease-in-out; 
    transition: background-color .15s ease-in-out; 
}

.button:hover{
    background: rgb(110,10,10);
}

/*
    Home page styling
*/

#enter {
    width: 80%;
    padding: .5em 4em;
    margin: 1em auto;
    border-radius: 2em;
    height: 60vh;
    background: linear-gradient( rgb(10,0,0), rgb(20, 0, 0));
    text-align: center;
}
#enter div {
    position: relative;
    height: 60vh;
    text-align: center;
}
#enter a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
    Shop table styling
*/

main {
    background: linear-gradient( rgb(10,0,0), rgb(20, 0, 0));
    width: 80%;
    margin: 1em auto;
    border-radius: 1.5em;
    padding: 3em 4em;
}

.search {
    border: none;
    border-radius: 4px;
    padding: .6em;
    width: 40%;
}

main table {
    width: 100%;
    background: linear-gradient( rgb(30,0,0), rgb(20, 0, 0));
    border-radius: 1em;
    padding: 1.5em;
    color: #ddd;
    margin: 3em 0;
}
main table th {
    text-align: left;
}

.product-img {
    width: 80%;
}

.timg {
    width: 15%;
}
.tname {
    width: 10%;
}
.tdesc {
    width: auto;
}
.tprice {
    width: 10%;
}
.tbuy {
    width: 10%;
    text-align: right;
}


/*
*
*   Create/Update styling
*
*/

#create-button {
    text-decoration: none;
    color: white;
    background: rgb(120,5,5);
    border-radius: 16px;
    padding: .25em .4em;
    font-size: 200%;
    display: inline-block;
    margin: 1em 0;
    transition: color .2s, background .2s;
}
#create-button:hover{
    color: rgb(120,5,5);
    background: white;
}

.tadmin a.button {
    text-align: center;
    padding: .6em 1.55em;
    display: inline-block;
    margin-bottom: 4px;
}
.tadmin {
    font-size: 14px;
}
.tadmin form button {
    padding: .75em 1em;   
}

.form-elem {
    display: block;
    margin: .5em 0;
}

.form-elem label {
    font-family: sans-serif;
    color: white;
    display: block;
    padding: .5em 0;
}

.form-elem input[type=text], .form-elem input[type=number], .form-elem input[type=password], .form-elem textarea {
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0px 5px 0 black;
    padding: .5em;
    min-width: 300px;
}

.err {
    color: red;
    font-family: sans-serif;
    background: rgb(100,0,0);
    display: inline-block;
    padding: 1em;
    border-radius: 4px;
    margin: 4px 0;
}